@import url(http://fonts/googleapis.com/css?family=Roboto);
/* line 17, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
/* line 103, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 8, ../scss/screen.scss */
body {
  font: 18px/1.5 "Roboto", "Franklin Gothic Book", "Arial", sans-serif; }
/* line 10, ../scss/screen.scss */
body a {
  color: #3c6caa;
  text-decoration: none; }
/* line 13, ../scss/screen.scss */
body a:hover {
  text-decoration: underline;
  color: #224169; }
/* line 18, ../scss/screen.scss */
body .submit {
  color: white;
  background-color: #3c6caa;
  padding: 0.75em 1em;
  font-size: 17px;
  border: none;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em; }
/* line 25, ../scss/screen.scss */
body .submit:hover {
  background-color: #224169;
  cursor: pointer; }
/* line 30, ../scss/screen.scss */
body h2 {
  color: #30393e; }
/* line 34, ../scss/screen.scss */
body .cache {
  display: none;
  position: absolute; }

/* line 40, ../scss/screen.scss */
header {
  width: 100%;
  border-bottom: 1px solid #30393e;
  padding: 1em 0; }
/* line 49, ../scss/screen.scss */
header .logo .slogan {
  position: absolute;
  top: 2.5em;
  color: #3c6caa;
  font-size: 16px; }
/* line 60, ../scss/screen.scss */
header nav li {
  float: left;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #30393e; }
/* line 68, ../scss/screen.scss */
header nav li a {
  color: #30393e;
  text-decoration: none; }
/* line 71, ../scss/screen.scss */
header nav li a:hover {
  color: #3c6caa; }

/* LOGO MENU + Logos */
/* line 83, ../scss/screen.scss */
.onglets span, .logoHome, .logoAll, .partners, .where, .news, .guides {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  background: url("../img/icons/sprite.png") no-repeat; }

/* line 90, ../scss/screen.scss */
.socialsIcons {
  width: 32px;
  height: 32px;
  display: inline-block;
  position: relative;
  background: url("../img/icons/sprite.png") no-repeat; }

/* line 99, ../scss/screen.scss */
nav .icon-1 {
  background-position: -130px 0px;
  left: 2.5em;
  top: -1.25em; }
/* line 104, ../scss/screen.scss */
nav .icon-2 {
  background-position: -130px 0;
  left: 2.15em;
  top: -1.25em; }
/* line 109, ../scss/screen.scss */
nav .icon-3 {
  left: 3em;
  top: -1.25em; }
/* line 113, ../scss/screen.scss */
nav .icon-4 {
  left: 3.5em;
  top: -1.25em; }
/* line 117, ../scss/screen.scss */
nav .icon-5 {
  left: 1.75em;
  top: -1.25em;
  background-position: -110px 0; }
/* line 122, ../scss/screen.scss */
nav .icon-6 {
  left: 2.75em;
  top: -1.25em;
  background-position: -195px 0; }
/* line 127, ../scss/screen.scss */
nav .icon-7 {
  left: 2.75em;
  top: -1.25em;
  background-position: -320px 0; }

/* line 136, ../scss/screen.scss */
.main .logo-home {
  background-position: -151px 0;
  left: -0.25em; }
/* line 140, ../scss/screen.scss */
.main .logo-all {
  background-position: -47px 0;
  left: -0.25em; }
/* line 144, ../scss/screen.scss */
.main .logo-guide {
  background-position: -70px 0;
  left: -0.25em; }
/* line 148, ../scss/screen.scss */
.main .logo-news {
  background-position: -300px 0;
  left: -0.25em; }
/* line 152, ../scss/screen.scss */
.main .logo-partners {
  background-position: -237px 0;
  left: -0.25em; }
/* line 156, ../scss/screen.scss */
.main .logo-where {
  background-position: -338px 0;
  left: -0.25em; }
/* line 160, ../scss/screen.scss */
.main .facebook {
  background-position: -39px -24px; }
/* line 163, ../scss/screen.scss */
.main .twitter {
  background-position: -135px -24px; }
/* line 166, ../scss/screen.scss */
.main .smartphone {
  background-position: -74px -24px; }
/* line 169, ../scss/screen.scss */
.main .tablet {
  background-position: -103px -24px; }
/* line 172, ../scss/screen.scss */
.main .android {
  background-position: 0 -20px; }

/* SWIPE */
/* line 180, ../scss/screen.scss */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }

/* line 185, ../scss/screen.scss */
.swipe-wrap {
  overflow: hidden;
  position: relative; }

/* line 189, ../scss/screen.scss */
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative; }

/* line 194, ../scss/screen.scss */
#mySwipe {
  margin: 0 auto;
  position: relative; }

/* line 198, ../scss/screen.scss */
.slider {
  -height: 500px;
  position: relative;
  -max-width: 2000px; }
/* line 202, ../scss/screen.scss */
.slider .controllers {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10; }
/* line 207, ../scss/screen.scss */
.slider .controllers #left {
  float: left;
  margin-top: 14em;
  padding: 8em 0;
  width: 3.6em;
  cursor: pointer;
  background-color: white;
  border: none; }
/* line 13, ../scss/_mixins.scss */
.slider .controllers #left:hover {
  background-color: #d7d7d7; }
/* line 211, ../scss/screen.scss */
.slider .controllers #right {
  float: right;
  margin-top: 14em;
  padding: 8em 0;
  width: 3.6em;
  cursor: pointer;
  background-color: white;
  border: none; }
/* line 13, ../scss/_mixins.scss */
.slider .controllers #right:hover {
  background-color: #d7d7d7; }

/* Formulaire recherche rapide */
/* line 220, ../scss/screen.scss */
.fastSearch {
  position: absolute;
  top: 0.00001em;
  padding-top: 1.5em;
  background-color: rgba(255, 255, 255, 0.7);
  height: 26.3em;
  z-index: 5; }
/* line 230, ../scss/screen.scss */
.fastSearch .block, .fastSearch .submit {
  display: block;
  margin-top: 1em; }
/* line 234, ../scss/screen.scss */
.fastSearch h2 {
  font-size: 20px;
  color: #30393e;
  font-weight: bold;
  margin-bottom: 0.5em; }
/* line 240, ../scss/screen.scss */
.fastSearch .inputText {
  padding: 0.5em 0.75em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #8f8f8f; }

/* Section principale */
/* line 250, ../scss/screen.scss */
.main {
  margin: 0em 2.2em 1.5em 2.2em; }
/* line 252, ../scss/screen.scss */
.main .rubrique, .main .about {
  margin-top: 2.5em; }
/* line 254, ../scss/screen.scss */
.main .rubrique h2, .main .about h2 {
  padding-left: 0.25em; }
/* line 257, ../scss/screen.scss */
.main .rubrique figure, .main .about figure {
  float: left;
  border: 1px solid #d7d7d7;
  margin-top: 1.5em; }
/* line 262, ../scss/screen.scss */
.main .rubrique figure img, .main .about figure img {
  float: left;
  margin: 1.25em 1em 1.25em 1em;
  border: 1px solid #30393e; }
/* line 267, ../scss/screen.scss */
.main .rubrique figure .details, .main .about figure .details {
  float: left;
  margin-top: 0.5em; }
/* line 272, ../scss/screen.scss */
.main .rubrique figure .details .price, .main .about figure .details .price {
  color: #d13f3e;
  font-weight: bold; }
/* line 276, ../scss/screen.scss */
.main .rubrique figure .details .ville, .main .about figure .details .ville {
  color: #b4c135; }
/* line 279, ../scss/screen.scss */
.main .rubrique figure .details .superficie, .main .about figure .details .superficie {
  color: #30393e; }
/* line 282, ../scss/screen.scss */
.main .rubrique figure .details .descriptif, .main .about figure .details .descriptif {
  color: #30393e;
  line-height: 1.25;
  padding-bottom: 0.25em; }
/* line 287, ../scss/screen.scss */
.main .rubrique figure .details .buttonMore, .main .about figure .details .buttonMore {
  color: white;
  background-color: #3c6caa;
  padding: 0.5em 0.75em;
  border: none;
  font-size: 12px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em; }
/* line 294, ../scss/screen.scss */
.main .rubrique figure .details .buttonMore:hover, .main .about figure .details .buttonMore:hover {
  background-color: #224169;
  cursor: pointer; }

/* line 305, ../scss/screen.scss */
.about div {
  float: left;
  padding-right: 1.5em; }
/* line 310, ../scss/screen.scss */
.about div h3 {
  color: #30393e;
  margin-bottom: 0.5em;
  padding-left: 0.25em; }

/* line 325, ../scss/screen.scss */
footer {
  width: 100%;
  background-color: #30393e;
  padding-bottom: 2em; }
/* line 329, ../scss/screen.scss */
footer .sectionFooter {
  float: left; }
/* line 333, ../scss/screen.scss */
footer .sectionFooter h3 {
  color: #d13f3e;
  font-size: 19px; }
/* line 337, ../scss/screen.scss */
footer .sectionFooter a {
  color: white;
  font-size: 16px;
  display: block; }
/* line 341, ../scss/screen.scss */
footer .sectionFooter a:hover {
  color: #8f8f8f; }
/* line 346, ../scss/screen.scss */
footer .sectionFooter #connect .inputText {
  padding: 0.5em 0.75em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #8f8f8f;
  display: block;
  margin-bottom: 0.75em; }
/* line 352, ../scss/screen.scss */
footer .sectionFooter #connect label {
  color: #8f8f8f; }
/* line 355, ../scss/screen.scss */
footer .sectionFooter #connect .submitSmall {
  color: white;
  background-color: #3c6caa;
  padding: 0.75em 1.5em;
  margin: 0.5em 0em;
  font-size: 15px;
  border: none;
  display: block;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em; }
/* line 364, ../scss/screen.scss */
footer .sectionFooter #connect .submitSmall:hover {
  background-color: #224169;
  cursor: pointer; }

/* line 373, ../scss/screen.scss */
header:after, .rubrique:after, .about:after, .rubrique article:after, .about article:after, .sectionFooter:after, footer:after {
  content: '';
  clear: both;
  display: block; }

@media only screen and (min-width: 320px) and (max-width: 800px) {
  /* line 2, ../scss/_mediaQueries.scss */
  .logo img {
    margin: 1.5em auto 1em auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

  /* line 7, ../scss/_mediaQueries.scss */
  .slogan {
    visibility: hidden; }

  /* line 10, ../scss/_mediaQueries.scss */
  nav {
    margin-top: 5em; }
  /* line 12, ../scss/_mediaQueries.scss */
  nav li {
    width: 33%;
    padding: 1em 0em; }

  /* line 17, ../scss/_mediaQueries.scss */
  #connect .inputText {
    width: 15em; } }
@media only screen and (min-width: 320px) and (max-width: 400px) {
  /* line 23, ../scss/_mediaQueries.scss */
  #img1:after {
    content: url(../img/imgSlide1-320.png);
    width: 100%;
    height: 500px; }

  /* line 28, ../scss/_mediaQueries.scss */
  #img2:after {
    content: url(../img/imgSlide2-320.png);
    width: 100%;
    height: 500px; }

  /* line 33, ../scss/_mediaQueries.scss */
  #img3:after {
    content: url(../img/imgSlide3-320.png);
    width: 100%;
    height: 500px; }

  /* line 38, ../scss/_mediaQueries.scss */
  #img1 {
    content: url(../img/imgSlide1-320.png);
    width: 100%;
    height: 500px; }

  /* line 43, ../scss/_mediaQueries.scss */
  #img2 {
    content: url(../img/imgSlide2-320.png);
    width: 100%;
    height: 500px; }

  /* line 48, ../scss/_mediaQueries.scss */
  #img3 {
    content: url(../img/imgSlide3-320.png);
    width: 100%;
    height: 500px; } }
@media only screen and (min-width: 320px) and (max-width: 500px) {
  /* line 56, ../scss/_mediaQueries.scss */
  h2 {
    font-size: 18px; }

  /* line 60, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 7em;
    font-size: 15px;
    padding: 0.5em 0; }

  /* line 67, ../scss/_mediaQueries.scss */
  .about div {
    margin: 1.5em 0.5em; }
  /* line 70, ../scss/_mediaQueries.scss */
  .about h3 {
    font-size: 16px; }
  /* line 73, ../scss/_mediaQueries.scss */
  .about .socials {
    margin: 0.5em 1em 0 0em; }
  /* line 76, ../scss/_mediaQueries.scss */
  .about .partnersImg {
    margin: 1em 0.5em 0 0; }

  /* line 80, ../scss/_mediaQueries.scss */
  .sectionFooter {
    width: 85%;
    padding: 1em 0 0 2em; }

  /* line 84, ../scss/_mediaQueries.scss */
  .controllers {
    visibility: hidden; }

  /* line 87, ../scss/_mediaQueries.scss */
  .fastSearch {
    width: 100%; }
  /* line 89, ../scss/_mediaQueries.scss */
  .fastSearch form {
    width: 16em;
    margin: 0 auto;
    padding-left: 1.5em; }
  /* line 95, ../scss/_mediaQueries.scss */
  .fastSearch .prix input {
    width: 5em;
    margin: 0 0.5em; }
  /* line 100, ../scss/_mediaQueries.scss */
  .fastSearch #location {
    width: 15em; } }
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 107, ../scss/_mediaQueries.scss */
  #img1:after {
    content: url(../img/imgSlide1-430.png);
    width: 100%;
    height: 500px; }

  /* line 112, ../scss/_mediaQueries.scss */
  #img2:after {
    content: url(../img/imgSlide2-430.png);
    width: 100%;
    height: 500px; }

  /* line 117, ../scss/_mediaQueries.scss */
  #img3:after {
    content: url(../img/imgSlide3-430.png);
    width: 100%;
    height: 500px; }

  /* line 122, ../scss/_mediaQueries.scss */
  #img1 {
    content: url(../img/imgSlide1-430.png);
    width: 100%;
    height: 500px; }

  /* line 127, ../scss/_mediaQueries.scss */
  #img2 {
    content: url(../img/imgSlide2-430.png);
    width: 100%;
    height: 500px; }

  /* line 132, ../scss/_mediaQueries.scss */
  #img3 {
    content: url(../img/imgSlide3-430.png);
    width: 100%;
    height: 500px; } }
@media only screen and (min-width: 500px) {
  /* line 140, ../scss/_mediaQueries.scss */
  h2 {
    font-size: 22px; } }
@media only screen and (min-width: 500px) and (max-width: 600px) {
  /* line 146, ../scss/_mediaQueries.scss */
  .fastSearch {
    width: 100%; }
  /* line 148, ../scss/_mediaQueries.scss */
  .fastSearch form {
    width: 20em;
    margin: 0 auto;
    padding-left: 1.5em; }
  /* line 154, ../scss/_mediaQueries.scss */
  .fastSearch .prix input {
    width: 7em;
    margin: 0 0.5em 0 0.5em; }
  /* line 159, ../scss/_mediaQueries.scss */
  .fastSearch #location {
    width: 18.5em; }

  /* line 163, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    height: 9em;
    margin-right: 0.5em; }
  /* line 166, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8em;
    font-size: 15px;
    padding: 0.5em 0; } }
@media only screen and (min-width: 500px) and (max-width: 800px) {
  /* line 175, ../scss/_mediaQueries.scss */
  .about div {
    margin: 1.5em 0.5em; }
  /* line 178, ../scss/_mediaQueries.scss */
  .about h3 {
    font-size: 18px; }
  /* line 181, ../scss/_mediaQueries.scss */
  .about .socials {
    margin: 0.5em 1em 0 0em; }
  /* line 184, ../scss/_mediaQueries.scss */
  .about .partnersImg {
    margin: 1em 0.5em 0 0; }

  /* line 188, ../scss/_mediaQueries.scss */
  .sectionFooter {
    width: 45%;
    padding: 1em 0 0 1em;
    height: 15em; }

  /* line 193, ../scss/_mediaQueries.scss */
  #img1:after {
    content: url(../img/imgSlide1-800.png);
    width: 100%;
    height: 500px; }

  /* line 198, ../scss/_mediaQueries.scss */
  #img2:after {
    content: url(../img/imgSlide2-800.png);
    width: 100%;
    height: 500px; }

  /* line 203, ../scss/_mediaQueries.scss */
  #img3:after {
    content: url(../img/imgSlide3-800.png);
    width: 100%;
    height: 500px; }

  /* line 209, ../scss/_mediaQueries.scss */
  #img1 {
    content: url(../img/imgSlide1-800.png);
    width: 100%;
    height: 500px; }

  /* line 214, ../scss/_mediaQueries.scss */
  #img2 {
    content: url(../img/imgSlide2-800.png);
    width: 100%;
    height: 500px; }

  /* line 219, ../scss/_mediaQueries.scss */
  #img3 {
    content: url(../img/imgSlide3-800.png);
    width: 100%;
    height: 500px; } }
@media only screen and (min-width: 600px) and (max-width: 800px) {
  /* line 226, ../scss/_mediaQueries.scss */
  .fastSearch {
    width: 100%; }
  /* line 228, ../scss/_mediaQueries.scss */
  .fastSearch form {
    padding-left: 4.5em; }
  /* line 233, ../scss/_mediaQueries.scss */
  .fastSearch .prix input {
    width: 7em;
    margin: 0 0.5em 0 0.5em; }
  /* line 238, ../scss/_mediaQueries.scss */
  .fastSearch #location {
    width: 18.5em; } }
@media only screen and (min-width: 600px) and (max-width: 650px) {
  /* line 245, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    height: 9em;
    margin-right: 0.5em; }
  /* line 248, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8.5em;
    font-size: 15px;
    padding: 0.5em 0.5em 0.5em 0; } }
@media only screen and (min-width: 650px) and (max-width: 700px) {
  /* line 257, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    height: 9em;
    margin-right: 1.75em; }
  /* line 260, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8.5em;
    font-size: 15px;
    padding: 0.5em 0.5em 0.5em 0; } }
@media only screen and (min-width: 700px) and (max-width: 800px) {
  /* line 269, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    margin: 1em 2em 0 0; }
  /* line 271, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8em;
    padding-right: 0.5em; } }
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  /* line 279, ../scss/_mediaQueries.scss */
  .logo img {
    margin: 1.5em auto 1em auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

  /* line 284, ../scss/_mediaQueries.scss */
  .slogan {
    visibility: hidden; }

  /* line 287, ../scss/_mediaQueries.scss */
  nav {
    margin-top: 5em; }
  /* line 289, ../scss/_mediaQueries.scss */
  nav li {
    width: 14%;
    padding: 1em 0em; }

  /* line 294, ../scss/_mediaQueries.scss */
  .fastSearch {
    width: 20em; }
  /* line 296, ../scss/_mediaQueries.scss */
  .fastSearch form {
    padding-left: 3.5em; }
  /* line 301, ../scss/_mediaQueries.scss */
  .fastSearch .prix input {
    width: 7em;
    margin: 0 0.5em 0 0.5em; }
  /* line 306, ../scss/_mediaQueries.scss */
  .fastSearch #location {
    width: 18.5em; }

  /* line 311, ../scss/_mediaQueries.scss */
  .about div {
    margin: 1.5em 0.5em; }
  /* line 314, ../scss/_mediaQueries.scss */
  .about h3 {
    font-size: 18px; }
  /* line 317, ../scss/_mediaQueries.scss */
  .about .socials {
    margin: 0.5em 1em 0 0em; }
  /* line 320, ../scss/_mediaQueries.scss */
  .about .partnersImg {
    margin: 1em 0.5em 0 0; }

  /* line 324, ../scss/_mediaQueries.scss */
  .sectionFooter {
    width: 22.5%;
    padding: 1em 0 0 1em;
    height: 15em; } }
@media only screen and (min-width: 800px) and (max-width: 1100px) {
  /* line 333, ../scss/_mediaQueries.scss */
  #img1:after {
    content: url(../img/imgSlide1-1000.png);
    width: 100%;
    height: 500px; }

  /* line 338, ../scss/_mediaQueries.scss */
  #img2:after {
    content: url(../img/imgSlide2-1000.png);
    width: 100%;
    height: 500px; }

  /* line 343, ../scss/_mediaQueries.scss */
  #img3:after {
    content: url(../img/imgSlide3-1000.png);
    width: 100%;
    height: 500px; }

  /* line 348, ../scss/_mediaQueries.scss */
  #img1 {
    content: url(../img/imgSlide1-1000.png);
    width: 100%;
    height: 500px; }

  /* line 353, ../scss/_mediaQueries.scss */
  #img2 {
    content: url(../img/imgSlide2-1000.png);
    width: 100%;
    height: 500px; }

  /* line 358, ../scss/_mediaQueries.scss */
  #img3 {
    content: url(../img/imgSlide3-1000.png);
    width: 100%;
    height: 500px; } }
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  /* line 366, ../scss/_mediaQueries.scss */
  #img1:after {
    content: url(../img/imgSlide1-1200.png);
    width: 100%;
    height: 500px; }

  /* line 371, ../scss/_mediaQueries.scss */
  #img2:after {
    content: url(../img/imgSlide2-1200.png);
    width: 100%;
    height: 500px; }

  /* line 376, ../scss/_mediaQueries.scss */
  #img3:after {
    content: url(../img/imgSlide3-1200.png);
    width: 100%;
    height: 500px; } }
@media only screen and (min-width: 800px) and (max-width: 900px) {
  /* line 384, ../scss/_mediaQueries.scss */
  .rubrique, .about {
    margin-left: 4em; }

  /* line 387, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    margin: 1em 2em 0 0; }
  /* line 389, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8em;
    padding-right: 0.5em; } }
@media only screen and (min-width: 900px) and (max-width: 1000px) {
  /* line 397, ../scss/_mediaQueries.scss */
  .rubrique, .about {
    margin-left: 10em; }

  /* line 400, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    margin: 1em 2em 0 0; }
  /* line 402, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8em;
    padding-right: 0.5em; } }
@media only screen and (min-width: 1000px) and (max-width: 1280px) {
  /* line 410, ../scss/_mediaQueries.scss */
  .logo {
    position: relative;
    left: 2em;
    float: left; }

  /* line 415, ../scss/_mediaQueries.scss */
  .fastSearch {
    width: 20em;
    padding: 1.5em 0 0 1.5em; }
  /* line 419, ../scss/_mediaQueries.scss */
  .fastSearch form {
    padding-left: 2.75em; }
  /* line 424, ../scss/_mediaQueries.scss */
  .fastSearch .prix input {
    width: 7em;
    margin: 0 0.5em 0 0.5em; }
  /* line 429, ../scss/_mediaQueries.scss */
  .fastSearch #location {
    width: 18.5em; }

  /* line 433, ../scss/_mediaQueries.scss */
  .sectionFooter {
    width: 18%;
    padding: 1em 1.5em; }

  /* line 438, ../scss/_mediaQueries.scss */
  .about div {
    margin: 1.5em 1.5em;
    width: 40%; }
  /* line 441, ../scss/_mediaQueries.scss */
  .about div h3 {
    font-size: 20px; }
  /* line 444, ../scss/_mediaQueries.scss */
  .about div .socials {
    margin: 0.5em 0.5em 0 0; }
  /* line 447, ../scss/_mediaQueries.scss */
  .about div .partnersImg {
    margin: 0.5em 1.75em 0 0; } }
@media only screen and (min-width: 1000px) and (max-width: 1100px) {
  /* line 455, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    margin: 1em 2em 0 0; }
  /* line 457, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8em;
    padding-right: 0.5em; }

  /* line 462, ../scss/_mediaQueries.scss */
  nav {
    float: left;
    padding-left: 5em;
    margin-top: 1.25em;
    height: 2em; } }
@media only screen and (min-width: 1100px) and (max-width: 1280px) {
  /* line 472, ../scss/_mediaQueries.scss */
  #img1 {
    content: url(../img/imgSlide1-1200.png);
    width: 100%;
    height: 500px; }

  /* line 477, ../scss/_mediaQueries.scss */
  #img2 {
    content: url(../img/imgSlide2-1200.png);
    width: 100%;
    height: 500px; }

  /* line 482, ../scss/_mediaQueries.scss */
  #img3 {
    content: url(../img/imgSlide3-1200.png);
    width: 100%;
    height: 500px; } }
@media only screen and (min-width: 1100px) and (max-width: 1280px) {
  /* line 491, ../scss/_mediaQueries.scss */
  .rubrique, .about {
    margin-left: 2em; }

  /* line 494, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    margin: 1em 1em 0 0; }
  /* line 496, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8em;
    padding-right: 0.5em; }

  /* line 501, ../scss/_mediaQueries.scss */
  nav {
    float: left;
    padding-left: 5em;
    margin-top: 1.25em;
    height: 2em; }
  /* line 506, ../scss/_mediaQueries.scss */
  nav li {
    padding-right: 2em; } }
@media only screen and (min-width: 1280px) and (max-width: 1500px) {
  /* line 513, ../scss/_mediaQueries.scss */
  .logo {
    position: relative;
    left: 2em;
    float: left; }

  /* line 518, ../scss/_mediaQueries.scss */
  nav {
    float: left;
    padding-left: 5em;
    margin-top: 1.25em;
    height: 2em; }
  /* line 523, ../scss/_mediaQueries.scss */
  nav li {
    padding-right: 3em; }

  /* line 527, ../scss/_mediaQueries.scss */
  .fastSearch {
    width: 20em;
    padding: 1.5em 0 0 1.5em; }
  /* line 531, ../scss/_mediaQueries.scss */
  .fastSearch form {
    padding-left: 2.75em; }
  /* line 535, ../scss/_mediaQueries.scss */
  .fastSearch .prix input {
    width: 7em;
    margin: 0 0.5em 0 0.5em; }
  /* line 540, ../scss/_mediaQueries.scss */
  .fastSearch #location {
    width: 18.5em; }

  /* line 544, ../scss/_mediaQueries.scss */
  .sectionFooter {
    width: 18%;
    padding: 1em 1.5em; }

  /* line 549, ../scss/_mediaQueries.scss */
  .about div {
    margin: 1.5em 1.5em;
    width: 42.5%;
    height: 8em; }
  /* line 553, ../scss/_mediaQueries.scss */
  .about div h3 {
    font-size: 20px; }
  /* line 556, ../scss/_mediaQueries.scss */
  .about div .socials {
    margin: 0.5em 1.5em 0 0; }
  /* line 559, ../scss/_mediaQueries.scss */
  .about div .partnersImg {
    margin: 0.5em 1.5em 0 0; }

  /* line 564, ../scss/_mediaQueries.scss */
  .rubrique, .about {
    margin-left: 2em; }

  /* line 567, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    margin: 1em 1em 0 0; }
  /* line 569, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8em;
    padding-right: 0.5em; }

  /* line 574, ../scss/_mediaQueries.scss */
  #img1:after {
    content: url(../img/imgSlide1-1500.png);
    width: 100%;
    height: 500px; }

  /* line 579, ../scss/_mediaQueries.scss */
  #img2:after {
    content: url(../img/imgSlide2-1500.png);
    width: 100%;
    height: 500px; }

  /* line 584, ../scss/_mediaQueries.scss */
  #img3:after {
    content: url(../img/imgSlide3-1500.png);
    width: 100%;
    height: 500px; }

  /* line 589, ../scss/_mediaQueries.scss */
  #img1 {
    content: url(../img/imgSlide1-1500.png);
    width: 100%;
    height: 500px; }

  /* line 594, ../scss/_mediaQueries.scss */
  #img2 {
    content: url(../img/imgSlide2-1500.png);
    width: 100%;
    height: 500px; }

  /* line 599, ../scss/_mediaQueries.scss */
  #img3 {
    content: url(../img/imgSlide3-1500.png);
    width: 100%;
    height: 500px; } }
@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  /* line 607, ../scss/_mediaQueries.scss */
  #img1:after {
    content: url(../img/imgSlide1-1500.png);
    width: 100%;
    height: 500px; }

  /* line 612, ../scss/_mediaQueries.scss */
  #img2:after {
    content: url(../img/imgSlide2-1500.png);
    width: 100%;
    height: 500px; }

  /* line 617, ../scss/_mediaQueries.scss */
  #img3:after {
    content: url(../img/imgSlide3-1500.png);
    width: 100%;
    height: 500px; } }
@media only screen and (min-width: 1500px) {
  /* line 625, ../scss/_mediaQueries.scss */
  h2 {
    font-size: 24px; }

  /* line 628, ../scss/_mediaQueries.scss */
  .logo {
    position: relative;
    left: 2em;
    float: left; }

  /* line 633, ../scss/_mediaQueries.scss */
  nav {
    float: left;
    padding-left: 7em;
    margin-top: 1.25em;
    height: 2em; }
  /* line 638, ../scss/_mediaQueries.scss */
  nav li {
    padding-right: 5.5em; }

  /* line 642, ../scss/_mediaQueries.scss */
  .main {
    width: 1200px;
    margin: 0 auto; }

  /* line 646, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    margin: 1em 1.5em 0 0; }
  /* line 648, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8em;
    padding-right: 0.5em; }

  /* line 653, ../scss/_mediaQueries.scss */
  .sectionFooter {
    width: 20%;
    padding: 1em 1.5em; }

  /* line 658, ../scss/_mediaQueries.scss */
  .about div {
    margin: 1.5em 1.5em;
    width: 42.5%;
    height: 8em; }
  /* line 662, ../scss/_mediaQueries.scss */
  .about div h3 {
    font-size: 22px; }

  /* line 667, ../scss/_mediaQueries.scss */
  .fastSearch {
    width: 20em;
    padding: 1.5em 0 0 1.5em; }
  /* line 671, ../scss/_mediaQueries.scss */
  .fastSearch form {
    padding-left: 2.75em; }
  /* line 675, ../scss/_mediaQueries.scss */
  .fastSearch .prix input {
    width: 7em;
    margin: 0 0.5em 0 0.5em; }
  /* line 680, ../scss/_mediaQueries.scss */
  .fastSearch #localisation {
    width: 18.5em; } }
