@import url(http://fonts/googleapis.com/css?family=Roboto);
/* line 17, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
/* line 103, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 8, ../scss/screen.scss */
body {
  font: 18px/1.5 "Roboto", "Franklin Gothic Book", "Arial", sans-serif; }
/* line 10, ../scss/screen.scss */
body a {
  color: #3c6caa;
  text-decoration: none; }
/* line 13, ../scss/screen.scss */
body a:hover {
  text-decoration: underline;
  color: #224169; }
/* line 18, ../scss/screen.scss */
body .submit {
  color: white;
  background-color: #3c6caa;
  padding: 0.75em 1em;
  font-size: 17px;
  border: none;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em; }
/* line 25, ../scss/screen.scss */
body .submit:hover {
  background-color: #224169;
  cursor: pointer; }
/* line 30, ../scss/screen.scss */
body h2 {
  color: #30393e; }
/* line 34, ../scss/screen.scss */
body .cache {
  display: none;
  position: absolute; }

/* line 40, ../scss/screen.scss */
header {
  width: 100%;
  border-bottom: 1px solid #30393e;
  padding: 1em 0; }
/* line 49, ../scss/screen.scss */
header .logo .slogan {
  position: absolute;
  top: 2.5em;
  color: #3c6caa;
  font-size: 16px; }
/* line 60, ../scss/screen.scss */
header nav li {
  float: left;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #30393e; }
/* line 68, ../scss/screen.scss */
header nav li a {
  color: #30393e;
  text-decoration: none; }
/* line 71, ../scss/screen.scss */
header nav li a:hover {
  color: #3c6caa; }

/* LOGO MENU + Logos */
/* line 81, ../scss/screen.scss */
.logoHome:before {
  content: url(../img/icons/homeHover.png);
  padding-right: 0.5em; }

/* line 86, ../scss/screen.scss */
.logoAll:before {
  content: url(../img/icons/all.png);
  padding-right: 0.5em; }

/* line 91, ../scss/screen.scss */
#vendre:before {
  content: url(../img/icons/home.png);
  position: relative;
  top: -1.25em;
  left: 2.5em; }
/* line 96, ../scss/screen.scss */
#vendre:before:hover {
  content: url(../img/icons/homeHover.png); }

/* line 101, ../scss/screen.scss */
#louer:before {
  content: url(../img/icons/home.png);
  position: relative;
  top: -1.25em;
  left: 2.25em; }
/* line 106, ../scss/screen.scss */
#louer:before:hover {
  content: url(../img/icons/homeHover.png); }

/* line 111, ../scss/screen.scss */
#vacances:before {
  content: url(../img/icons/airplane.png);
  position: relative;
  top: -1.25em;
  left: 3em; }
/* line 116, ../scss/screen.scss */
#vacances:before:hover {
  content: url(../img/icons/airplaneHover.png); }

/* line 120, ../scss/screen.scss */
#decoration:before {
  content: url(../img/icons/paint.png);
  position: relative;
  top: -1.25em;
  left: 3.5em; }
/* line 125, ../scss/screen.scss */
#decoration:before:hover {
  content: url(../img/icons/paintHover.png); }

/* line 129, ../scss/screen.scss */
#batir:before {
  content: url(../img/icons/hammer.png);
  position: relative;
  top: -1.25em;
  left: 1.75em; }
/* line 134, ../scss/screen.scss */
#batir:before:hover {
  content: url(../img/icons/hammerHover.png); }

/* line 138, ../scss/screen.scss */
#renover:before {
  content: url(../img/icons/loop.png);
  position: relative;
  top: -1.25em;
  left: 2.75em; }
/* line 143, ../scss/screen.scss */
#renover:before:hover {
  content: url(../img/icons/loopHover.png); }

/* line 147, ../scss/screen.scss */
#user:before {
  content: url(../img/icons/user.png);
  position: relative;
  top: -1.25em;
  left: 2.75em; }
/* line 152, ../scss/screen.scss */
#user:before:hover {
  content: url(../img/icons/loopHover.png); }

/* line 156, ../scss/screen.scss */
#where:before {
  content: url(../img/icons/where.png);
  margin-right: 0.5em; }

/* line 160, ../scss/screen.scss */
#guides:before {
  content: url(../img/icons/guides.png);
  margin-right: 0.5em; }

/* line 164, ../scss/screen.scss */
#partners:before {
  content: url(../img/icons/partners.png);
  margin-right: 0.5em; }

/* line 168, ../scss/screen.scss */
#news:before {
  content: url(../img/icons/news.png);
  margin-right: 0.5em; }

/* SWIPE */
/* line 176, ../scss/screen.scss */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }

/* line 181, ../scss/screen.scss */
.swipe-wrap {
  overflow: hidden;
  position: relative; }

/* line 185, ../scss/screen.scss */
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative; }

/* line 190, ../scss/screen.scss */
#mySwipe {
  max-width: 1200px;
  margin: 0 auto;
  position: relative; }

/* line 195, ../scss/screen.scss */
.slider {
  background-color: #3c6caa;
  height: 500px;
  position: relative;
  max-width: 2000px; }
/* line 200, ../scss/screen.scss */
.slider .controllers {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
/* line 204, ../scss/screen.scss */
.slider .controllers #left {
  float: left;
  margin-top: 14em;
  padding: 8em 0;
  width: 3.6em;
  cursor: pointer;
  background-color: white;
  border: none; }
/* line 13, ../scss/_mixins.scss */
.slider .controllers #left:hover {
  background-color: #d7d7d7; }
/* line 208, ../scss/screen.scss */
.slider .controllers #right {
  float: right;
  margin-top: 14em;
  padding: 8em 0;
  width: 3.6em;
  cursor: pointer;
  background-color: white;
  border: none; }
/* line 13, ../scss/_mixins.scss */
.slider .controllers #right:hover {
  background-color: #d7d7d7; }

/* Formulaire recherche rapide */
/* line 217, ../scss/screen.scss */
.fastSearch {
  position: absolute;
  top: 0.00001em;
  padding-top: 1.5em;
  background-color: rgba(255, 255, 255, 0.7);
  height: 26.3em; }
/* line 226, ../scss/screen.scss */
.fastSearch .block, .fastSearch .submit {
  display: block;
  margin-top: 1em; }
/* line 230, ../scss/screen.scss */
.fastSearch h2 {
  font-size: 20px;
  color: #30393e;
  font-weight: bold;
  margin-bottom: 0.5em; }
/* line 236, ../scss/screen.scss */
.fastSearch .inputText {
  padding: 0.5em 0.75em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #8f8f8f; }

/* Section principale */
/* line 246, ../scss/screen.scss */
.main {
  margin: 0em 2.2em 1.5em 2.2em; }
/* line 248, ../scss/screen.scss */
.main .rubrique, .main .about {
  margin-top: 2.5em; }
/* line 250, ../scss/screen.scss */
.main .rubrique figure, .main .about figure {
  float: left;
  border: 1px solid #d7d7d7;
  margin-top: 1.5em; }
/* line 255, ../scss/screen.scss */
.main .rubrique figure img, .main .about figure img {
  float: left;
  margin: 1.25em 1em 1.25em 1em;
  border: 1px solid #30393e; }
/* line 260, ../scss/screen.scss */
.main .rubrique figure .details, .main .about figure .details {
  float: left;
  margin-top: 0.5em; }
/* line 265, ../scss/screen.scss */
.main .rubrique figure .details .price, .main .about figure .details .price {
  color: #d13f3e;
  font-weight: bold; }
/* line 269, ../scss/screen.scss */
.main .rubrique figure .details .ville, .main .about figure .details .ville {
  color: #b4c135; }
/* line 272, ../scss/screen.scss */
.main .rubrique figure .details .superficie, .main .about figure .details .superficie {
  color: #30393e; }
/* line 275, ../scss/screen.scss */
.main .rubrique figure .details .descriptif, .main .about figure .details .descriptif {
  color: #30393e;
  line-height: 1.25;
  padding-bottom: 0.25em; }
/* line 280, ../scss/screen.scss */
.main .rubrique figure .details .buttonMore, .main .about figure .details .buttonMore {
  color: white;
  background-color: #3c6caa;
  padding: 0.5em 0.75em;
  border: none;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em; }
/* line 286, ../scss/screen.scss */
.main .rubrique figure .details .buttonMore:hover, .main .about figure .details .buttonMore:hover {
  background-color: #224169;
  cursor: pointer; }

/* line 297, ../scss/screen.scss */
.about div {
  float: left;
  padding-right: 1.5em; }
/* line 302, ../scss/screen.scss */
.about div h3 {
  color: #30393e;
  margin-bottom: 0.5em; }

/* line 316, ../scss/screen.scss */
footer {
  width: 100%;
  background-color: #30393e;
  padding-bottom: 2em; }
/* line 320, ../scss/screen.scss */
footer .sectionFooter {
  float: left; }
/* line 324, ../scss/screen.scss */
footer .sectionFooter h3 {
  color: #d13f3e;
  font-size: 19px; }
/* line 328, ../scss/screen.scss */
footer .sectionFooter a {
  color: white;
  font-size: 16px;
  display: block; }
/* line 332, ../scss/screen.scss */
footer .sectionFooter a:hover {
  color: #8f8f8f; }
/* line 337, ../scss/screen.scss */
footer .sectionFooter #connect .inputText {
  padding: 0.5em 0.75em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #8f8f8f;
  display: block;
  margin-bottom: 0.75em; }
/* line 343, ../scss/screen.scss */
footer .sectionFooter #connect label {
  color: #8f8f8f; }
/* line 346, ../scss/screen.scss */
footer .sectionFooter #connect .submitSmall {
  color: white;
  background-color: #3c6caa;
  padding: 0.75em 1.5em;
  margin: 0.5em 0em;
  font-size: 15px;
  border: none;
  display: block;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em; }
/* line 355, ../scss/screen.scss */
footer .sectionFooter #connect .submitSmall:hover {
  background-color: #224169;
  cursor: pointer; }

/* line 364, ../scss/screen.scss */
header:after, .rubrique:after, .about:after, .rubrique article:after, .about article:after, .sectionFooter:after, footer:after {
  content: '';
  clear: both;
  display: block; }

@media only screen and (min-width: 320px) and (max-width: 800px) {
  /* line 2, ../scss/_mediaQueries.scss */
  .logo img {
    margin: 1.5em auto 1em auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

  /* line 7, ../scss/_mediaQueries.scss */
  .slogan {
    visibility: hidden; }

  /* line 10, ../scss/_mediaQueries.scss */
  nav {
    margin-top: 5em; }
  /* line 12, ../scss/_mediaQueries.scss */
  nav li {
    width: 33%;
    padding: 1em 0em; }

  /* line 17, ../scss/_mediaQueries.scss */
  #connect .inputText {
    width: 15em; } }
@media only screen and (min-width: 320px) and (max-width: 500px) {
  /* line 23, ../scss/_mediaQueries.scss */
  h2 {
    font-size: 18px; }

  /* line 27, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 7em;
    font-size: 15px;
    padding: 0.5em 0; }

  /* line 34, ../scss/_mediaQueries.scss */
  .about div {
    margin: 1.5em 0.5em; }
  /* line 37, ../scss/_mediaQueries.scss */
  .about h3 {
    font-size: 16px; }
  /* line 40, ../scss/_mediaQueries.scss */
  .about .socials {
    margin: 0.5em 1em 0 0em; }
  /* line 43, ../scss/_mediaQueries.scss */
  .about .partnersImg {
    margin: 1em 0.5em 0 0; }

  /* line 47, ../scss/_mediaQueries.scss */
  .sectionFooter {
    width: 85%;
    padding: 1em 0 0 2em; }

  /* line 51, ../scss/_mediaQueries.scss */
  .controllers {
    visibility: hidden; }

  /* line 54, ../scss/_mediaQueries.scss */
  .fastSearch {
    width: 100%; }
  /* line 56, ../scss/_mediaQueries.scss */
  .fastSearch form {
    width: 16em;
    margin: 0 auto;
    padding-left: 1.5em; }
  /* line 62, ../scss/_mediaQueries.scss */
  .fastSearch .prix input {
    width: 5em;
    margin: 0 0.5em; }
  /* line 67, ../scss/_mediaQueries.scss */
  .fastSearch #location {
    width: 15em; } }
@media only screen and (min-width: 500px) {
  /* line 74, ../scss/_mediaQueries.scss */
  h2 {
    font-size: 22px; } }
@media only screen and (min-width: 500px) and (max-width: 600px) {
  /* line 80, ../scss/_mediaQueries.scss */
  .fastSearch {
    width: 100%; }
  /* line 82, ../scss/_mediaQueries.scss */
  .fastSearch form {
    width: 20em;
    margin: 0 auto;
    padding-left: 1.5em; }
  /* line 88, ../scss/_mediaQueries.scss */
  .fastSearch .prix input {
    width: 7em;
    margin: 0 0.5em 0 0.5em; }
  /* line 93, ../scss/_mediaQueries.scss */
  .fastSearch #location {
    width: 18.5em; }

  /* line 97, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    height: 9em;
    margin-right: 0.5em; }
  /* line 100, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8em;
    font-size: 15px;
    padding: 0.5em 0; } }
@media only screen and (min-width: 500px) and (max-width: 800px) {
  /* line 109, ../scss/_mediaQueries.scss */
  .about div {
    margin: 1.5em 0.5em; }
  /* line 112, ../scss/_mediaQueries.scss */
  .about h3 {
    font-size: 18px; }
  /* line 115, ../scss/_mediaQueries.scss */
  .about .socials {
    margin: 0.5em 1em 0 0em; }
  /* line 118, ../scss/_mediaQueries.scss */
  .about .partnersImg {
    margin: 1em 0.5em 0 0; }

  /* line 122, ../scss/_mediaQueries.scss */
  .sectionFooter {
    width: 45%;
    padding: 1em 0 0 1em;
    height: 15em; } }
@media only screen and (min-width: 600px) and (max-width: 800px) {
  /* line 129, ../scss/_mediaQueries.scss */
  .fastSearch {
    width: 100%; }
  /* line 131, ../scss/_mediaQueries.scss */
  .fastSearch form {
    padding-left: 4.5em; }
  /* line 136, ../scss/_mediaQueries.scss */
  .fastSearch .prix input {
    width: 7em;
    margin: 0 0.5em 0 0.5em; }
  /* line 141, ../scss/_mediaQueries.scss */
  .fastSearch #location {
    width: 18.5em; } }
@media only screen and (min-width: 600px) and (max-width: 650px) {
  /* line 148, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    height: 9em;
    margin-right: 0.5em; }
  /* line 151, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8.5em;
    font-size: 15px;
    padding: 0.5em 0.5em 0.5em 0; } }
@media only screen and (min-width: 650px) and (max-width: 700px) {
  /* line 160, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    height: 9em;
    margin-right: 1.75em; }
  /* line 163, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8.5em;
    font-size: 15px;
    padding: 0.5em 0.5em 0.5em 0; } }
@media only screen and (min-width: 700px) and (max-width: 800px) {
  /* line 172, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    margin: 1em 2em 0 0; }
  /* line 174, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8em;
    padding-right: 0.5em; } }
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  /* line 182, ../scss/_mediaQueries.scss */
  .logo img {
    margin: 1.5em auto 1em auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

  /* line 187, ../scss/_mediaQueries.scss */
  .slogan {
    visibility: hidden; }

  /* line 190, ../scss/_mediaQueries.scss */
  nav {
    margin-top: 5em; }
  /* line 192, ../scss/_mediaQueries.scss */
  nav li {
    width: 14%;
    padding: 1em 0em; }

  /* line 197, ../scss/_mediaQueries.scss */
  .fastSearch {
    width: 20em; }
  /* line 199, ../scss/_mediaQueries.scss */
  .fastSearch form {
    padding-left: 3.5em; }
  /* line 204, ../scss/_mediaQueries.scss */
  .fastSearch .prix input {
    width: 7em;
    margin: 0 0.5em 0 0.5em; }
  /* line 209, ../scss/_mediaQueries.scss */
  .fastSearch #location {
    width: 18.5em; }

  /* line 214, ../scss/_mediaQueries.scss */
  .about div {
    margin: 1.5em 0.5em; }
  /* line 217, ../scss/_mediaQueries.scss */
  .about h3 {
    font-size: 18px; }
  /* line 220, ../scss/_mediaQueries.scss */
  .about .socials {
    margin: 0.5em 1em 0 0em; }
  /* line 223, ../scss/_mediaQueries.scss */
  .about .partnersImg {
    margin: 1em 0.5em 0 0; }

  /* line 227, ../scss/_mediaQueries.scss */
  .sectionFooter {
    width: 22.5%;
    padding: 1em 0 0 1em;
    height: 15em; } }
@media only screen and (min-width: 800px) and (max-width: 900px) {
  /* line 235, ../scss/_mediaQueries.scss */
  .rubrique, .about {
    margin-left: 4em; }

  /* line 238, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    margin: 1em 2em 0 0; }
  /* line 240, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8em;
    padding-right: 0.5em; } }
@media only screen and (min-width: 900px) and (max-width: 1000px) {
  /* line 248, ../scss/_mediaQueries.scss */
  .rubrique, .about {
    margin-left: 10em; }

  /* line 251, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    margin: 1em 2em 0 0; }
  /* line 253, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8em;
    padding-right: 0.5em; } }
@media only screen and (min-width: 1000px) and (max-width: 1280px) {
  /* line 261, ../scss/_mediaQueries.scss */
  .logo {
    position: relative;
    left: 2em;
    float: left; }

  /* line 266, ../scss/_mediaQueries.scss */
  .fastSearch {
    width: 20em;
    padding: 1.5em 0 0 1.5em; }
  /* line 270, ../scss/_mediaQueries.scss */
  .fastSearch form {
    padding-left: 2.75em; }
  /* line 275, ../scss/_mediaQueries.scss */
  .fastSearch .prix input {
    width: 7em;
    margin: 0 0.5em 0 0.5em; }
  /* line 280, ../scss/_mediaQueries.scss */
  .fastSearch #location {
    width: 18.5em; }

  /* line 284, ../scss/_mediaQueries.scss */
  .sectionFooter {
    width: 18%;
    padding: 1em 1.5em; }

  /* line 289, ../scss/_mediaQueries.scss */
  .about div {
    margin: 1.5em 1.5em;
    width: 40%; }
  /* line 292, ../scss/_mediaQueries.scss */
  .about div h3 {
    font-size: 20px; }
  /* line 295, ../scss/_mediaQueries.scss */
  .about div .socials {
    margin: 0.5em 0.5em 0 0; }
  /* line 298, ../scss/_mediaQueries.scss */
  .about div .partnersImg {
    margin: 0.5em 1.75em 0 0; } }
@media only screen and (min-width: 1000px) and (max-width: 1100px) {
  /* line 306, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    margin: 1em 2em 0 0; }
  /* line 308, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8em;
    padding-right: 0.5em; }

  /* line 313, ../scss/_mediaQueries.scss */
  nav {
    float: left;
    padding-left: 5em;
    margin-top: 1.25em;
    height: 2em; } }
@media only screen and (min-width: 1100px) and (max-width: 1280px) {
  /* line 323, ../scss/_mediaQueries.scss */
  .rubrique, .about {
    margin-left: 2em; }

  /* line 326, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    margin: 1em 1em 0 0; }
  /* line 328, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8em;
    padding-right: 0.5em; }

  /* line 333, ../scss/_mediaQueries.scss */
  nav {
    float: left;
    padding-left: 5em;
    margin-top: 1.25em;
    height: 2em; }
  /* line 338, ../scss/_mediaQueries.scss */
  nav li {
    padding-right: 2em; } }
@media only screen and (min-width: 1280px) and (max-width: 1500px) {
  /* line 345, ../scss/_mediaQueries.scss */
  .logo {
    position: relative;
    left: 2em;
    float: left; }

  /* line 350, ../scss/_mediaQueries.scss */
  nav {
    float: left;
    padding-left: 5em;
    margin-top: 1.25em;
    height: 2em; }
  /* line 355, ../scss/_mediaQueries.scss */
  nav li {
    padding-right: 3em; }

  /* line 359, ../scss/_mediaQueries.scss */
  .fastSearch {
    width: 20em;
    padding: 1.5em 0 0 1.5em; }
  /* line 363, ../scss/_mediaQueries.scss */
  .fastSearch form {
    padding-left: 2.75em; }
  /* line 367, ../scss/_mediaQueries.scss */
  .fastSearch .prix input {
    width: 7em;
    margin: 0 0.5em 0 0.5em; }
  /* line 372, ../scss/_mediaQueries.scss */
  .fastSearch #location {
    width: 18.5em; }

  /* line 376, ../scss/_mediaQueries.scss */
  .sectionFooter {
    width: 18%;
    padding: 1em 1.5em; }

  /* line 381, ../scss/_mediaQueries.scss */
  .about div {
    margin: 1.5em 1.5em;
    width: 42.5%;
    height: 8em; }
  /* line 385, ../scss/_mediaQueries.scss */
  .about div h3 {
    font-size: 20px; }
  /* line 388, ../scss/_mediaQueries.scss */
  .about div .socials {
    margin: 0.5em 1.5em 0 0; }
  /* line 391, ../scss/_mediaQueries.scss */
  .about div .partnersImg {
    margin: 0.5em 1.5em 0 0; }

  /* line 396, ../scss/_mediaQueries.scss */
  .rubrique, .about {
    margin-left: 2em; }

  /* line 399, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    margin: 1em 1em 0 0; }
  /* line 401, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8em;
    padding-right: 0.5em; } }
@media only screen and (min-width: 1500px) {
  /* line 409, ../scss/_mediaQueries.scss */
  h2 {
    font-size: 24px; }

  /* line 412, ../scss/_mediaQueries.scss */
  .logo {
    position: relative;
    left: 2em;
    float: left; }

  /* line 417, ../scss/_mediaQueries.scss */
  nav {
    float: left;
    padding-left: 7em;
    margin-top: 1.25em;
    height: 2em; }
  /* line 422, ../scss/_mediaQueries.scss */
  nav li {
    padding-right: 5.5em; }

  /* line 426, ../scss/_mediaQueries.scss */
  .main {
    width: 1200px;
    margin: 0 auto; }

  /* line 430, ../scss/_mediaQueries.scss */
  .rubrique figure, .about figure {
    margin: 1em 1.5em 0 0; }
  /* line 432, ../scss/_mediaQueries.scss */
  .rubrique figure .details, .about figure .details {
    width: 8em;
    padding-right: 0.5em; }

  /* line 437, ../scss/_mediaQueries.scss */
  .sectionFooter {
    width: 20%;
    padding: 1em 1.5em; }

  /* line 442, ../scss/_mediaQueries.scss */
  .about div {
    margin: 1.5em 1.5em;
    width: 42.5%;
    height: 8em; }
  /* line 446, ../scss/_mediaQueries.scss */
  .about div h3 {
    font-size: 22px; }

  /* line 451, ../scss/_mediaQueries.scss */
  .fastSearch {
    width: 20em;
    padding: 1.5em 0 0 1.5em; }
  /* line 455, ../scss/_mediaQueries.scss */
  .fastSearch form {
    padding-left: 2.75em; }
  /* line 459, ../scss/_mediaQueries.scss */
  .fastSearch .prix input {
    width: 7em;
    margin: 0 0.5em 0 0.5em; }
  /* line 464, ../scss/_mediaQueries.scss */
  .fastSearch #localisation {
    width: 18.5em; } }
