$clearGreen:#b4c135;
$clearBlue:#3c6caa;
$darkBlue: #224169;

$middleGray: #8f8f8f;
$darkGray: #444444;
$darkGrayOpacity: rgba(68,68,68,0.5);
$whiteGray: #d7d7d7;

$whiteOpacity: rgba(255,255,255,0.7);

$sousTitre:#262626;