@import "compass";
@import "compass/reset";
@import "colors";
@import "mixins";


body{
	font: 18px/1.5 "Roboto", "Franklin Gothic Book", "Arial", sans-serif;	
	a{
		color: $clearBlue;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
			color: $darkBlue;
		}
	}
	.submit{
		color: white;
		background-color: $clearBlue;
		padding: 0.75em 1em;
		font-size: 17px;
		border: none;
		@include border-radius(0.5em);
		&:hover{
			background-color: $darkBlue;
			cursor: pointer;
		}
	}
	h2{
		//font-size: 22px;
		color: $darkGray;
	}
}

header{
	width: 100%;
	border-bottom: 1px solid $darkGray;
	// height: 3.5em;
	padding: 1em 0;
	.logo{
		// position: relative;
		// left: 1em;
		// float: left;
		.slogan{
			position: absolute;
			top: 2.5em;
			color: $clearBlue;
			font-size: 16px;
		}
	}
	nav{
		// float: left;
		// padding-left: 1em;
		// margin-top: 1.25em;
		li{
			float: left;
			// width: 7.5em;
			font-size: 14px;
			text-align: center;
			// padding: 0.5em 1em 0 1em;
			text-transform: uppercase;
			color: $darkGray;
			a{
				color: $darkGray;
				text-decoration: none;
				&:hover{
					color: $clearBlue;
				}
			}
		}
	}
}

/* LOGO MENU + Logos */

.logoHome:before{
	content: url(../img/icons/homeHover.png);
	padding-right: 0.5em;
}

.logoAll:before{
	content: url(../img/icons/all.png);
	padding-right: 0.5em;
}

#vendre:before{
	content: url(../img/icons/home.png);
	position: relative;
	top: -1.25em;
	left: 2.5em;
	&:hover{
		content: url(../img/icons/homeHover.png);
	}
}

#louer:before{
	content: url(../img/icons/home.png);
	position: relative;
	top: -1.25em;
	left: 2.25em;
	&:hover{
		content: url(../img/icons/homeHover.png);
	}
}

#vacances:before{
	content: url(../img/icons/airplane.png);
	position: relative;
	top: -1.25em;
	left: 3em;
	&:hover{
		content: url(../img/icons/airplaneHover.png);
	}
}
#decoration:before{
	content: url(../img/icons/paint.png);
	position: relative;
	top: -1.25em;
	left: 3.5em;
	&:hover{
		content: url(../img/icons/paintHover.png);
	}
}
#batir:before{
	content: url(../img/icons/hammer.png);
	position: relative;
	top: -1.25em;
	left: 1.75em;
	&:hover{
		content: url(../img/icons/hammerHover.png);
	}
}
#renover:before{
	content: url(../img/icons/loop.png);
	position: relative;
	top: -1.25em;
	left: 2.75em;
	&:hover{
		content: url(../img/icons/loopHover.png);
	}
}
#user:before{
	content: url(../img/icons/user.png);
	position: relative;
	top: -1.25em;
	left: 2.75em;
	&:hover{
		content: url(../img/icons/loopHover.png);
	}
}
#where:before{
	content: url(../img/icons/where.png);
	margin-right: 0.5em;
}
#guides:before{
	content: url(../img/icons/guides.png);
	margin-right: 0.5em;
}
#partners:before{
	content: url(../img/icons/partners.png);
	margin-right: 0.5em;
}
#news:before{
	content: url(../img/icons/news.png);
	margin-right: 0.5em;
}


/* SWIPE */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
#mySwipe{
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
.slider{
	background-color: $clearBlue;
	height: 500px;
	position: relative;
	max-width: 2000px;
	.controllers{
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		#left{ 
			float:left;
			@include arrowSlider();
		}
		#right{ 
			float:right;
			@include arrowSlider();
		}
	}
}

/* Formulaire recherche rapide */

.fastSearch{
	//width: 20em;
	position: absolute;
	top: 0.00001em;
	//left: 2.2em;
	padding-top: 1.5em;
	//padding: 1.5em 0 0 1.5em;
	background-color: $whiteOpacity;
	height: 26.3em;
	.block, .submit{
		display: block;
		margin-top: 1em;
	}
	h2{
		font-size: 20px;
		color: $darkGray;
		font-weight: bold;
		margin-bottom: 0.5em;
	}
	.inputText{
		@include inputsStyle();
	}
	#location{
		//width: 25em;
	}
}

/* Section principale */

.main{
	margin: 0em 2.2em 1.5em 2.2em;
	.rubrique{
		margin-top: 2.5em;
		article{
			float: left;
			border: 1px solid $whiteGray;
			//margin: 1em 1em 0 0;
			margin-top: 1.5em;
			img{
				float: left;
				margin: 1.25em 1em 1.25em 1em;
				border: 1px solid $darkGray;
			}
			.details{
				float: left;
				margin-top: 0.5em;
				//width: 8em;
				//padding-right: 0.5em;
				h3{
					color: $clearRed;
					font-weight: bold;
				}
				.ville{
					color: $clearGreen;
				}
				.superficie{
					color: $darkGray;
				}
				.descriptif{
					//font-size: 16px;
					color: $darkGray;
				}
			}
		}
	}
}
.about{
	@extend .rubrique;
	div{
		//margin: 1.5em 1.5em;
		float: left;
		//width: 42.5%;
		padding-right: 1.5em;
		h3{
			//font-size: 20px;
			color: $darkGray;
			margin-bottom: 0.5em;
		}
		.socials{
			//margin: 0.5em 1.5em 0 0;
		}
		.partnersImg{
			//margin: 1em 0.5em 0 0;
		}
	}
}

footer{
	width: 100%;
	background-color: $darkGray;
	padding-bottom: 2em;
	.sectionFooter{
		float: left;
		//width: 20%;
		//padding: 1em 1.5em;
		h4{
			color: $clearRed;
			font-size: 19px;
		}
		a{
			color:white;
			font-size: 16px;
			display: block;
			font-family: "Lato";
			&:hover{
				color: $middleGray;
			}
		}
		#connect{
			.inputText{
				@include inputsStyle();
				display: block;
				//width: 20em;
				margin-bottom: 0.75em;
			}
			label{
				color: $middleGray;
			}
			.submitSmall{
				color: white;
				background-color: $clearBlue;
				padding: 0.75em 1.5em;
				margin: 0.5em 0em;
				font-size: 15px;
				border: none;
				display: block;
				@include border-radius(0.5em);
				&:hover{
					background-color: $darkBlue;
					cursor: pointer;
				}
			}
		}
	}
}

header:after, .rubrique:after, .rubrique article:after, .sectionFooter:after, footer:after{
	@include reinitFloat();
}

@import "mediaQueries";
