@import "compass";
@import "compass/reset";
@import "colors";
@import "mixins";
@import url(http://fonts/googleapis.com/css?family=Roboto);


body{
	font: 18px/1.5 "Roboto", "Franklin Gothic Book", "Arial", sans-serif;	
	a{
		color: $clearBlue;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
			color: $darkBlue;
		}
	}
	.submit{
		color: white;
		background-color: $clearBlue;
		padding: 0.75em 1em;
		font-size: 17px;
		border: none;
		@include border-radius(0.5em);
		&:hover{
			background-color: $darkBlue;
			cursor: pointer;
		}
	}
	h2{
		//font-size: 22px;
		color: $darkGray;
	}
	.cache{
		display: none;
		position: absolute;
	}
}

header{
	width: 100%;
	border-bottom: 1px solid $darkGray;
	// height: 3.5em;
	padding: 1em 0;
	.logo{
		// position: relative;
		// left: 1em;
		// float: left;
		.slogan{
			position: absolute;
			top: 2.5em;
			color: $clearBlue;
			font-size: 16px;
		}
	}
	nav{
		// float: left;
		// padding-left: 1em;
		// margin-top: 1.25em;
		li{
			float: left;
			// width: 7.5em;
			font-size: 14px;
			text-align: center;
			// padding: 0.5em 1em 0 1em;
			text-transform: uppercase;
			color: $darkGray;
			a{
				color: $darkGray;
				text-decoration: none;
				&:hover{
					color: $clearBlue;
				}
			}
		}
	}
}

/* LOGO MENU + Logos */



.onglets span, .logoHome, .logoAll, .partners, .where, .news, .guides {
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
    background: url("../img/icons/sprite.png") no-repeat;
}
.socialsIcons{
	width: 32px;
	height: 32px;
	display: inline-block;
	position: relative;
    background: url("../img/icons/sprite.png") no-repeat;
}

nav{	
	.icon-1 { 
		background-position: -130px 0px;
		left: 2.5em;
    	top: -1.25em;
	}
	.icon-2 {
		background-position: -130px 0;
		left: 2.15em;
    	top: -1.25em;	
	}
	.icon-3 {
		left: 3em;
    	top: -1.25em;
	}
	.icon-4 {
		left: 3.5em;
    	top: -1.25em;
	}
	.icon-5 {
		left: 1.75em;
    	top: -1.25em;
		background-position: -110px 0;
	}
	.icon-6 {
		left: 2.75em;
    	top: -1.25em;
		background-position: -195px 0;
	}
	.icon-7 {
		left: 2.75em;
    	top: -1.25em;
		background-position: -320px 0;
		
	}
}

.main{
	.logo-home{
		background-position: -151px 0;
		left: -0.25em;
	}
	.logo-all{
		background-position: -47px 0;
		left: -0.25em;
	}
	.logo-guide{
		background-position: -70px 0;
		left: -0.25em;
	}
	.logo-news{
		background-position: -300px 0;
		left: -0.25em;
	}
	.logo-partners{
		background-position: -237px 0;
		left: -0.25em;
	}
	.logo-where{
		background-position: -338px 0;
		left: -0.25em;
	}
	.facebook{
		background-position: -39px -24px;
	}
	.twitter{
		background-position: -135px -24px;
	}
	.smartphone{
		background-position: -74px -24px;
	}
	.tablet{
		background-position: -103px -24px;
	}
	.android{
		background-position: 0 -20px;
	}
}


/* SWIPE */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
#mySwipe{
	margin: 0 auto;
	position: relative;
}
.slider{
	-height: 500px;
	position: relative;
	-max-width: 2000px;
	.controllers{
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		z-index: 10;
		#left{ 
			float:left;
			@include arrowSlider();
		}
		#right{ 
			float:right;
			@include arrowSlider();
		}
	}
}

/* Formulaire recherche rapide */

.fastSearch{
	//width: 20em;
	position: absolute;
	top: 0.00001em;
	//left: 2.2em;
	padding-top: 1.5em;
	//padding: 1.5em 0 0 1.5em;
	background-color: $whiteOpacity;
	height: 26.3em;
	z-index: 5;
	.block, .submit{
		display: block;
		margin-top: 1em;
	}
	h2{
		font-size: 20px;
		color: $darkGray;
		font-weight: bold;
		margin-bottom: 0.5em;
	}
	.inputText{
		@include inputsStyle();
	}
	#localisation{
		//width: 25em;
	}
}

/* Section principale */

.main{
	margin: 0em 2.2em 1.5em 2.2em;
	.rubrique{
		margin-top: 2.5em;
		h2{
			padding-left: 0.25em;
		}
		figure{
			float: left;
			border: 1px solid $whiteGray;
			//margin: 1em 1em 0 0;
			margin-top: 1.5em;
			img{
				float: left;
				margin: 1.25em 1em 1.25em 1em;
				border: 1px solid $darkGray;
			}
			.details{
				float: left;
				margin-top: 0.5em;
				//width: 8em;
				//padding-right: 0.5em;
				.price{
					color: $clearRed;
					font-weight: bold;
				}
				.ville{
					color: $clearGreen;
				}
				.superficie{
					color: $darkGray;
				}
				.descriptif{
					color: $darkGray;
					line-height: 1.25;
					padding-bottom: 0.25em;
				}
				.buttonMore{
					color: white;
					background-color: $clearBlue;
					padding: 0.5em 0.75em;
					border: none;
					font-size: 12px;
					@include border-radius(0.5em);
					&:hover{
						background-color: $darkBlue;
						cursor: pointer;
					}
				}
			}
		}
	}
}
.about{
	@extend .rubrique;
	div{
		//margin: 1.5em 1.5em;
		float: left;
		//width: 42.5%;
		padding-right: 1.5em;
		h3{
			//font-size: 20px;
			color: $darkGray;
			margin-bottom: 0.5em;
			padding-left: 0.25em;
		}
		.socials{
			//margin: 0.5em 1.5em 0 0;
		}
		.partnersImg{
			//margin: 1em 0.5em 0 0;
		}
	}
}

footer{
	width: 100%;
	background-color: $darkGray;
	padding-bottom: 2em;
	.sectionFooter{
		float: left;
		//width: 20%;
		//padding: 1em 1.5em;
		h3{
			color: $clearRed;
			font-size: 19px;
		}
		a{
			color:white;
			font-size: 16px;
			display: block;
			&:hover{
				color: $middleGray;
			}
		}
		#connect{
			.inputText{
				@include inputsStyle();
				display: block;
				//width: 20em;
				margin-bottom: 0.75em;
			}
			label{
				color: $middleGray;
			}
			.submitSmall{
				color: white;
				background-color: $clearBlue;
				padding: 0.75em 1.5em;
				margin: 0.5em 0em;
				font-size: 15px;
				border: none;
				display: block;
				@include border-radius(0.5em);
				&:hover{
					background-color: $darkBlue;
					cursor: pointer;
				}
			}
		}
	}
}

header:after, .rubrique:after, .rubrique article:after, .sectionFooter:after, footer:after{
	@include reinitFloat();
}

@import "mediaQueries";
