@import "compass";
@import "compass/reset";
@import "colors";
@import "mixins";

body{
	font: 18px/1.5 "Roboto", "Franklin Gothic Book", "Arial", sans-serif;	
	a{
		color: $clearBlue;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
			color: $darkBlue;
		}
	}
	.submit{
		color: white;
		background-color: $clearBlue;
		padding: 0.75em 1em;
		font-size: 17px;
		border: none;
		@include border-radius(0.5em);
		&:hover{
			background-color: $darkBlue;
			cursor: pointer;
		}
	}
}

header{
	width: 100%;
	border-bottom: 1px solid $darkGray;
	height: 3.5em;
	padding: 1em 0;
	.logo{
		position: relative;
		left: 1em;
		float: left;
		.slogan{
			position: absolute;
			top: 2.5em;
			color: $clearBlue;
			font-size: 16px;
		}
	}
	nav{
		float: left;
		padding-left: 5em;
		margin-top: 1.25em;
		li{
			float: left;
			width: 7.5em;
			font-size: 14px;
			text-align: center;
			padding: 0.5em 1em 0 1em;
			text-transform: uppercase;
			color: $darkGray;
			a{
				color: $darkGray;
				text-decoration: none;
				&:hover{
					color: $clearBlue;
				}
			}
		}
	}
}

/* LOGO MENU */

#vendre:before{
	content: url(../img/icons/home.png);
	position: relative;
	top: -1.25em;
	left: 2.5em;
	&:hover{
		content: url(../img/icons/homeHover.png);
	}
}

#louer:before{
	content: url(../img/icons/home.png);
	position: relative;
	top: -1.25em;
	left: 2.25em;
	&:hover{
		content: url(../img/icons/homeHover.png);
	}
}

#vacances:before{
	content: url(../img/icons/airplane.png);
	position: relative;
	top: -1.25em;
	left: 3em;
	&:hover{
		content: url(../img/icons/airplaneHover.png);
	}
}
#decoration:before{
	content: url(../img/icons/paint.png);
	position: relative;
	top: -1.25em;
	left: 3.5em;
	&:hover{
		content: url(../img/icons/paintHover.png);
	}
}
#batir:before{
	content: url(../img/icons/hammer.png);
	position: relative;
	top: -1.25em;
	left: 1.75em;
	&:hover{
		content: url(../img/icons/hammerHover.png);
	}
}
#renover:before{
	content: url(../img/icons/loop.png);
	position: relative;
	top: -1.25em;
	left: 2.75em;
	&:hover{
		content: url(../img/icons/loopHover.png);
	}
}

/* SWIPE */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
#mySwipe{
	max-width: 1200px;
	margin: 0 auto;
}
.slider{
	background-color: $clearBlue;
	height: 500px;
	position: relative;
	max-width: 1280px;
	.controllers{
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		#left{ 
			float:left;
			@include arrowSlider();
		}
		#right{ 
			float:right;
			@include arrowSlider();
		}
	}
}

/* Formulaire recherche rapide */

.fastSearch{
	width: 20em;
	position: absolute;
	top: 0.00001em;
	left: 2.2em;
	padding: 1.5em 0 0 1.5em;
	background-color: $whiteOpacity;
	height: 26.3em;
	.block, .submit{
		display: block;
		margin-top: 1em;
	}
	h2{
		font-size: 20px;
		color: $darkGray;
		font-weight: bold;
		margin-bottom: 0.5em;
	}
	.inputText{
		padding: 0.5em 0.75em;
		@include border-radius(0.5em);
		border: 1px solid $middleGray;
	}
	#location{
		width: 25em;
	}
	select{
		padding: 2em;
	}
}

header:after{
	@include reinitFloat();
}
